@model Dietetica.Models.Semilla

@{
    ViewData["Title"] = "Edit";
}
<head>
    <link href="~/css/editStyle.css" rel="stylesheet" />
</head>
<h1>Edit</h1>

<h4>Semilla</h4>
<hr />
<div class="row">
    <div class="shadow-sm p-3 mb-5 bg-white rounded" id="card">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="nombre" class="control-label">Nombre</label>
                <input asp-for="nombre" class="form-control" />
                <span asp-validation-for="nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="precioXKg" class="control-label">Precio por kilo</label>
                <input asp-for="precioXKg" class="form-control" />
                <span asp-validation-for="precioXKg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="idTipoVenta" class="control-label">Tipo de venta</label>
                <select asp-for="idTipoVenta" class="form-control" asp-items="ViewBag.idTipoVenta" disabled></select>
                <span asp-validation-for="idTipoVenta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="idProveedor" class="control-label">Proveedor</label>
                <select asp-for="idProveedor" class="form-control" asp-items="ViewBag.idProveedor"></select>
                <span asp-validation-for="idProveedor" class="text-danger"></span>
            </div>
            <div class="form-group" id="saveDiv">
                <input type="submit" value="Save" class="btn btn-primary" id="saveBtn" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" id="back">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
