@model Dietetica.Models.TipoVenta

@{
    ViewData["Title"] = "Create";
}
<head>
    <link href="~/css/createStyle.css" rel="stylesheet" />
</head>
<h1>Create</h1>

<h4>TipoVenta</h4>
<hr />
<div class="shadow-sm p-3 mb-5 bg-white rounded createDiv">
    <div class="col-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="tipoDeVenta" class="control-label">Descripcion</label>
                <input asp-for="tipoDeVenta" class="form-control" />
                <span asp-validation-for="tipoDeVenta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
