@model Dietetica.Models.TipoVenta

@{
    ViewData["Title"] = "Edit";
}
<head>
    <link href="~/css/editStyle.css" rel="stylesheet" />
</head>

<h1>Edit</h1>

<h4>TipoVenta</h4>
<hr />
<div class="row">
    <div class="shadow-sm p-3 mb-5 bg-white rounded" id="card">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="tipoDeVenta" class="control-label">Tipo de venta</label>
                <input asp-for="tipoDeVenta" class="form-control" />
                <span asp-validation-for="tipoDeVenta" class="text-danger"></span>
            </div>
            <div class="form-group" id="saveDiv">
                <input type="submit" value="Save" id="saveBtn" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
