@model Dietetica.Models.ProductoEmbasado

@{
    ViewData["Title"] = "Create";
}
<head>
    <link href="~/css/createStyle.css" rel="stylesheet" />
</head>
<h1>Create</h1>

<h4>Otro producto</h4>
<hr />
<div class="shadow-sm p-3 mb-5 bg-white rounded createDiv">
    <div class="col-12">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="nombre" class="control-label">Nombre</label>
                <input asp-for="nombre" class="form-control" />
                <span asp-validation-for="nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="precioPorUnidad" class="control-label">Precio por unidad</label>
                <input asp-for="precioPorUnidad" class="form-control" />
                <span asp-validation-for="precioPorUnidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="gramos" class="control-label">Gramos</label>
                <input asp-for="gramos" class="form-control" />
                <span asp-validation-for="gramos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <img src="" id="imagen" class="rounded" style="max-width:75px" />
                <label asp-for="foto" class="control-label">Foto</label>
                <input name="seleccionImg" id="seleccionImg" type="file" accept="image/jpeg" />
                <span asp-validation-for="foto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdTipoVenta" class="control-label">Tipo de Venta</label>
                <select asp-for="IdTipoVenta" class="form-control" asp-items="ViewBag.TiposList"></select>
                <span asp-validation-for="IdTipoVenta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdProveedor" class="control-label">Proveedor</label>
                <select asp-for="IdProveedor" class="form-control" asp-items="ViewBag.proveedorList"></select>
                <span asp-validation-for="IdProveedor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="~/js//preview.js"></script>
