@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h2>Pagina creada para Laboratorio IV de la Tecnicatura Universitaria en programación</h2>

<h2>Profesor: Martin Rossi</h2>
<h2>Año: 2022</h2>