@model Dietetica.Models.Proveedor

@{
    ViewData["Title"] = "Details";
}
<head>
    <link href="~/css/detailsStyles.css" rel="stylesheet" />
</head>
<h1>Details</h1>

<div>
    <h4>Proveedor</h4>
    <hr />
    <dl class="shadow p-3 mb-5 bg-white rounded detailsDiv">
        <dt class = "col-12">
            Nombre
        </dt>
        <dd class = "col-12">
            @Html.DisplayFor(model => model.nombre)
        </dd>
        <dt class = "col-12">
            Telefono
        </dt>
        <dd class = "col-12">
            @Html.DisplayFor(model => model.telefono)
        </dd>
        <dt class = "col-12">
            Email
        </dt>
        <dd class = "col-12">
            @Html.DisplayFor(model => model.email)
        </dd>
    </dl>
</div>
<div class="btnDiv">
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
