h1:first-of-type {
    color: #28590C;
    border-bottom: 2px;
    border-color: #97BE11;
}

.deleteDiv {
    width: 50%;
    margin: 0 25%;
    text-align: center;
}
h3, h4 {
    text-align:center;
}
dt {
    color: #28590C;
}

a {
    color: #28590C;
}

a:hover {
    color: #97BE11;
}

form {
    text-align: center;
    width: 50%;
    margin: 0 25%;
}